<!doctype html>
<html lang="en">
<head>
    <style>
  .grid-container {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 50px 50px 50px;
  grid-gap: 10px;
  background-color: #F26F6F;
  padding: 10px;
}
</style>

</head>
<body>

<h1>
<p class="rainbow">Conman's BIGGEST Bargain Emporium!</p>
</h1>


<div class="grid-container" >
<div><a href="/customers" class="button">Customers</a></div>

<div><a href="/orders" class="button">Orders</a></div>

<div><a href="/items" class="button">Items</a></div>
</div>
</body>
