<!doctype html>
<html lang="en">
<head>

</head>
<body>

<h1>
<p class="rainbow">Conman's BIGGEST Bargain Emporium!</p>
</h1>


<div class="grid-container" >
<a href="/customers" class="button">Customers</a>

<a href="/orders" class="button">Orders</a>

<a href="/items" class="button">Items</a>
</div>
</body>
