<div>
    <p> Name: $item.getName()</p>
    <p> Price: $item.getPrice()</p>
    <p> Description: $item.getDescription()</p>
    <p> Quantity: $quantity</p>
    <a href="$item.pictureLink()"/>

</div>

<a href="/items/$item.getId()/edit" class="button center">Edit</a>
<form action="/items/$item.getId()/delete" method="post">
    <input type="submit" value="Delete" class="button center">
</form>
